doctype html
html(lang='pt-br', ng-app="faceFoods")
    head
      meta(name='description', content="Descrição FaceFood.")
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel='stylesheet', type='text/css', href='css/styles.css')
      link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
      link(rel='stylesheet', type='text/css', href='https://use.fontawesome.com/releases/v5.0.6/css/all.css')
      link(rel='stylesheet', type='text/css', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
      link(rel='stylesheet', type='text/css', href='https://afeld.github.io/emoji-css/emoji.css')
      link(rel='icon', href='favicon.png')
      title FaceFoods
    body.app.sidebar-mini#body
      <toaster-container></toaster-container>
      section(ui-view)
      //- script(src='libs/jquery-3.2.1.min.js')
      //- script(src='libs/popper.min.js')
      //- script(src='libs/bootstrap.min.js')
      //- script(src='libs/main.js')
      //- script(src='libs/plugins/pace.min.js')
      //- script(src='libs/plugins/chart.js')
      script(src='js/vendor.js')    
      script(src='js/app.js')