*{
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;

}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body{
	width: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.marca{
	border: 1px solid red;
}

.item-menu:hover{
	cursor: pointer;
	background-color: #ccc;
}


.item-menu{
	border-bottom: 1px solid black;
	padding: 10px;
	width: 90%;
	margin: 0 auto;
}

.titulo{
	text-align: center;
	padding-bottom: 3px;
	border-bottom: 2px solid red;
	width: 80%;
	margin: 5px auto 10px auto;

}

.fixed-button{
	margin-top: 50px;
	color: white;
	font-size: 20px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding: 5px;
	text-align: center !important;
	background-color: red;
	border-top: 3px solid white;
}

.fixed-button:hover{
	cursor: pointer;
	background-color: red;
}

.space-bottom{
	margin-top: 40px;
	height: 20px;
}


.combo-titulo{
	font-size: 15px;
}

.combo-descricao{
	font-size: 12px;
}

.combo-preco{
	font-size: 15px;
	color: green;
	font-weight: bold;
}

.prato-titulo{
	font-size: 15px;
	font-weight: bold;
}

.prato-descricao{
	font-size: 12px;
}


.prato-preco{
	font-size: 18px;
	color: green;
	font-weight: bold;
}

.text-right{
	text-align: right;
}

.over-item:hover{
	background-color: #BBB;
	cursor: pointer;
}

.botao-opcao{
	margin: 15px 0px !important;
	background-color: #e6e6e6;
	font-size: 20px;
	height: 50px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: auto;
	margin-bottom: auto;
}

.align-vertical{
	margin-bottom: auto;
	margin-top: auto;
	vertical-align: middle;
}

.num-sabores{
	background-color: #e6e6e6;
	margin: 4px;
	text-align: center;
	font-size: 30px;
	padding: 10px;
	font-weight: bold;
}

.descricao-sabor{
	font-size: 15px;
}

.btn-sabor{
	border: 1px solid #CCC;
	margin: 4px;
}

.sabor-nome{
	font-size: 20px;
	font-weight: bold;
}