header.app-header
  a.app-header__logo(href='index.html') FaceFoods
  a.app-sidebar__toggle(ng-click='sidebarToggle()', aria-label='Hide Sidebar')
  ul.app-nav
    li.app-search
      input.app-search__input(type='search', placeholder='Search')
      button.app-search__button
        i.fa.fa-search
    notification-menu
    //- TODO: Transformar em diretiva
    li.dropdown
      a.app-nav__item(href='#', data-toggle='dropdown', aria-label='Open Profile Menu')
        i.fa.fa-user.fa-lg
      ul.dropdown-menu.settings-menu.dropdown-menu-right
        li
          a.dropdown-item(href='page-user.html')
            i.fa.fa-cog.fa-lg
            |  Settings
        li
          a.dropdown-item(href='page-user.html')
            i.fa.fa-user.fa-lg
            |  Profile
        li
          a.dropdown-item(href='page-login.html')
            i.fa.fa-sign-out.fa-lg
            |  Logout
.app-sidebar__overlay(data-toggle='sidebar')    
sidebar(user='userData')
.loading-bro(ng-hide='loaded')
  svg.center.float#load(x='0px', y='0px', viewbox='0 0 150 150')
    circle#loading-inner(cx='75', cy='75', r='60')
div(ng-cloak='', ng-show='loaded')
  main.app-content
    ui-view