div(ng-show='loaded')
	section.material-half-bg
		.cover
	section.login-content
		.logo
			h1 FaceFoods
		.login-box(ng-class="{'flipped': flip}")
			form.login-form
				h3.login-head
					i.fa.fa-lg.fa-fw.fa-user
					| Login
				.form-group
					label.control-label Email
					input.form-control(ng-model='email', type='text', placeholder='Email', autofocus='')
				.form-group
					label.control-label Senha
					input.form-control(ng-model='password', type='password', placeholder='Password')
				.form-group
					.utility
						p.semibold-text.mb-2.text-center
							a(href='javascript:void(0)', ng-click="flip = !flip") Esqueceu a senha?
				.form-group.btn-container
					button.btn.btn-primary.btn-block(ng-click="signUp()")
						i.fas.fa-sign-in-alt.mr-1
						| Login
			form.forget-form
				h3.login-head
					i.fa.fa-lg.fa-fw.fa-lock
					| Esqueceu a senha?
				.form-group
					label.control-label Email
					input.form-control(type='text', placeholder='Email')
				.form-group.btn-container
					button.btn.btn-primary.btn-block
						i.fa.fa-unlock.fa-lg.fa-fw
						| RECUPERAR
				.form-group.mt-3
					p.semibold-text.mb-0
						a(href='javascript:void(0)', ng-click="flip = !flip")
							i.fa.fa-angle-left.fa-fw
							|  Voltar