li.dropdown(ng-class="{'show':active}")
    a.app-nav__item(data-toggle='dropdown', aria-label='Open Profile Menu', ng-click="active=!active")
        i.fa.fa-user.fa-lg
    ul.dropdown-menu.settings-menu.dropdown-menu-right(ng-class="{'show':active}")
        li
            a.dropdown-item(href='javascript:void(0)')
                i.fa.fa-cog.fa-lg
                |  Settings
        li
            a.dropdown-item(href='javascript:void(0)')
                i.fa.fa-user.fa-lg
                |  Profile
        li
            a.dropdown-item(href='javascript:void(0)', ng-click='logout()')
                i.fas.fa-sign-out-alt.fa-lg
                |  Logout