.app-title
  div
    h1
      i.fa.fa-tachometer-alt
      |  Estatísticas
    p Essa tela contém dados e gráficos sobre seus clientes e pedidos.
.row
  .col-md-6.col-lg-3
    .widget-small.primary.coloured-icon
      i.icon.fa.fa-users.fa-3x
      .info
        h4 Clientes
        p
          b 5
  .col-md-6.col-lg-3
    .widget-small.info.coloured-icon
      i.icon.fas.fa-thumbs-up.fa-3x
      .info
        h4 Likes
        p
          b 25
  .col-md-6.col-lg-3
    .widget-small.warning.coloured-icon
      i.icon.fa.fa-files-o.fa-3x
      .info
        h4 Total de Pedidos
        p
          b 10
  .col-md-6.col-lg-3
    .widget-small.danger.coloured-icon
      i.icon.ionicons.ion-pizza
      .info
        h4 Pizzas entregues
        p
          b 500
.row
  .col-md-6
    .tile
      h3.tile-title Vendas por mês
  .col-md-6
    .tile
      h3.tile-title Sabores mais pedidos