section
	.fixed-button-top
		.row.align-vertical
			.col-2
				//botão de voltar
				a(ng-click="doTheBack()") 
					i.fa.fa-arrow-left
			.col-10.text-left
				// item selecionado
				|{{currentPizza}}
	.space-top
	//seleção da quantidade de sabores
	h2.titulo(ng-if='nsabores.length>1') Quantos Sabores?
	h2.titulo(ng-if='nsabores.length==1') Qual Sabor?
	.container(ng-if='nsabores.length>1')
		.button-wrap
			.row
				.col(ng-repeat='x in nsabores')
					input.hidden.radio-label.rb(type='radio', name='nsabores', id='n_{{x}}')
					label.button-label(for='n_{{x}}', ng-click='setNSabores(x)')
						h1 {{x}}
	// filtro de sabores (salgado, doce)
	#selecao-sabores(ng-show='issetNSabores || nsabores.length == 1')
		h2.titulo(ng-if='nsabores.length>1')  Escolha os sabores
		.row.text-center
			.col
				input#sd_1.hidden.radio-label.rb(type='radio', name='salgado_doce', value='salgado', ng-model='salgado_doce', ng-checked='true')
				label.button-label(for='sd_1')
					h1 Salgadas
			.col
				input#sd_2.hidden.radio-label.rb(type='radio', name='salgado_doce', value='doce', ng-model='salgado_doce')
				label.button-label(for='sd_2')
					h1 Doces
		// lista de sabores   
		#sabores-salgados.container(ng-show="salgado_doce == 'salgado'")
			article(ng-repeat='sabor in sabores_salgados')
				input.cb(type='checkbox', id='sb_{{sabor.id}}', ng-model='sabor.selected', ng-change='addSaborPizza(sabor.selected)', ng-disabled='nSaboresSelec == nSaboresLimit && sabor.selected == false')
				label.cb-label(for='sb_{{sabor.id}}', ng-click='addSabor(sabor)')
					.row
						.col-2
						.col-10
							.row
								.col-9
									.sabor-pizza {{sabor.sabor}}
								.col-3
									.preco-pizza(ng-if="sabor.preco>0") {{sabor.preco}}
							.row
								.descricao-pizza {{sabor.descricao}}
		#sabores-salgados.container(ng-show="salgado_doce == 'doce'")
			article(ng-repeat='sabor in sabores_doces')
				input.cb(type='checkbox', id='sb_{{sabor.id}}', ng-model='sabor.selected', ng-change='addSaborPizza(sabor.selected)', ng-disabled='nSaboresSelec == nSaboresLimit && sabor.selected == false')
				label.cb-label(for='sb_{{sabor.id}}', ng-click='addSabor(sabor)')
					.row
						.col-2
						.col-10
							.row
								.col-9
									.sabor-pizza {{sabor.sabor}}
								.col-3
									.preco-pizza(ng-if="sabor.preco>0") {{sabor.preco}}
							.row
								.descricao-pizza {{sabor.descricao}}
	// escolha a massa
	.space-bottom
	a(ui-sref='resumoPedido' ng-show="nSaboresSelec == nSaboresLimit")
		.fixed-button
			p PRÓXIMO
