section.container(style="background: linear-gradient(to right, #0 , #0);")
	article
		h2.titulo Promoções
		.row.card-prato(ng-repeat='combo in combos')
			.col-3
				img(ng-src='img/{{combo.imagem}}')
			.col-9
				h2.combo-titulo {{combo.titulo}}
				p.combo-descricao {{combo.descricao}}
				p.combo-preco  R${{combo.preco}}
			hr
	article
		h2.titulo
			| Pizzas
		a(ui-sref="pizzaoptions" ng-repeat='pizza in pizzas' ng-click="addPizza(pizza)")
			.row.card-prato
				.col-10
					h2.prato-titulo {{pizza.titulo}}
					p.prato-descricao {{pizza.descricao}}
				.col-2.text-left.nopadding
					p.prato-preco R${{pizza.preco}}
	article(ng-repeat="categoria in MenuData.menu.geral")
		h2.titulo
			| {{categoria.categoria}}
		.row.card-prato(ng-repeat='produto in categoria.produtos' ng-click="addProduct(produto)")
			.col-10
				h2.prato-titulo {{produto.name}}
				p.prato-descricao {{produto.description}}
			.col-2.text-left.nopadding
				p.prato-preco R${{produto.price}}
			hr

