section.container.marca
	button(ng-click="pop()")
		| Show a Toaster
	article
		h2.titulo Promoções
		.row.over-item(ng-repeat='combo in combos')
			.col-3
				img(ng-src='img/{{combo.imagem}}')
			.col-9
				h2.combo-titulo {{combo.titulo}}
				p.combo-descricao {{combo.descricao}}
				p.combo-preco  R${{combo.preco}}
			hr
	article
		h2.titulo
			i.em.em-pizza
			| Pizzas
		a(ui-sref="pizzaoptions" ng-repeat='pizza in pizzas')
			.row.over-item
				.col
					h2.prato-titulo.mt-3.mb-0 {{pizza.titulo}}
					p.prato-descricao.ml-1 {{pizza.descricao}}
				.col.text-right.mt-3.mb-0
					p.prato-preco R${{pizza.preco}}
			hr
	article
		h2.titulo
			i.em.em-tropical_drink
			| Bebidas
		.row.over-item(ng-repeat='bebida in bebidas')
			.col
				h2.prato-titulo.mt-3 {{bebida.titulo}}
			.col.text-right.mt-3
				p.prato-preco R${{bebida.preco}}
			hr
