section.container(style="background: linear-gradient(to right, #0 , #0);")
	article
		h2.titulo Promoções
		.row.card-prato(ng-repeat='combo in menu.combos')
			.col-3
				img(ng-src='img/{{combo.image}}')
			.col-9
				h2.combo-titulo {{combo.name}}
				p.combo-descricao {{combo.description}}
				p.combo-preco  R${{combo.price}}
			hr
	article
		h2.titulo
			| Pizzas
		.row.card-prato(ng-repeat='pizza in menu.pizzas.sizes' ng-click="addPizza(pizza)")
			.col-10
				h2.prato-titulo {{pizza.name}}
				p.prato-descricao {{pizza.description}}
			.col-2.text-left.nopadding
				p.prato-preco R${{pizza.price}}
	article(ng-repeat="category in menu.general")
		h2.titulo
			| {{category.category}}
		.row.card-prato(ng-repeat='product in category.products track by $id($index)' ng-click="addProduct(product)")
			.col-10
				h2.prato-titulo {{product.name}}
				p.prato-descricao {{product.description}}
			.col-2.text-left.nopadding
				p.prato-preco R${{product.price}}
			hr

