.app-title
    .div
        h1
            i.fa.fa-laptop
            |  Cardápio
        p Escolha e configure suas opções de cardápio
    //- ul.app-breadcrumb.breadcrumb
    //-     li.breadcrumb-item
    //-         i.fa.fa-home.fa-lg
    //-     li.breadcrumb-item
    //-         a(href='#') Bootstrap Elements
.tile.mb-4
    .page-header
        .container
            .row
                .col-sm-3.py-2
                    .card
                        .card-header.display
                            i.em.em-pizza
                            |  - Pizzas
                        .card-body.h-100
                            p.card-text Selecione abaixo para configurar seu cardápio de pizzas.
                            .btn-group.float-right
                                button.btn.btn-primary(ng-click="addPizza()", type='button', tooltips, tooltip-template="Adicionar Pizzas", tooltip-speed="fast")
                                    i.fas.fa-plus
                                button.btn.btn-secondary(type='button', tooltips, tooltip-template="Gerenciar Pizzas", tooltip-speed="fast")
                                    i.fas.fa-pencil-alt
                .col-sm-3.py-2
                    .card
                        .card-header.display
                            i.em.em-hamburger
                            |  - Hambúrgueres
                        .card-body.h-100
                            p.card-text Selecione abaixo para configurar seu cardápio de Hambúrgueres.
                            .btn-group.float-right(role='group', aria-label='Basic example')
                                button.btn.btn-primary(type='button', tooltips, tooltip-template="Adicionar Hambúrgueres", tooltip-speed="fast")
                                    i.fas.fa-plus
                                button.btn.btn-secondary(type='button', tooltips, tooltip-template="Gerenciar Hambúrgueres", tooltip-speed="fast")
                                    i.fas.fa-pencil-alt
                .col-sm-3.py-2
                    .card
                        .card-header.display
                            i.em.em-green_salad
                            |  - Outros
                        .card-body.h-100
                            p.card-text Selecione abaixo para configurar ou adicionar outros tipos de cardápios.
                            .btn-group.float-right
                                button.btn.btn-primary(type='button', tooltips, tooltip-template="Adicionar outros", tooltip-speed="fast")
                                    i.fas.fa-plus
                                button.btn.btn-secondary(type='button', tooltips, tooltip-template="Gerenciar outros", tooltip-speed="fast")
                                    i.fas.fa-pencil-alt
                .col-sm-3.py-2
                    .card
                        .card-header.display
                            i.em.em-keycap_star
                            |  - Todos
                        .card-body.h-100
                            p.card-text Clique abaixo para gerenciar todos teus cardápios.
                            .btn-group.float-right
                                button.btn.btn-primary(type='button', tooltips, tooltip-template="Gerenciar cardápios", tooltip-speed="fast")
                                    i.fas.fa-cogs