section
	h4.titulo Resumo Do Seu Pedido
	.container
		.row.repeat-item(ng-repeat="order in shoppingCart.orders")
			.col.container-pedido(ng-hide="order.qty <= 0")
				.row
					.col.text-right
						//- TODO: Animação de apagar pedido 
						.btn-apagar-prato.fa.fa-times-circle(ng-click="deleteOrder($index)")
				.row
					.col
						.card-pedido
							.row
								.col-3
									button.btn-qtd(ng-click="incrementOrder($index)")
										i.fa.fa-plus
									.prato-qtd {{order.qty}}
									button.btn-qtd(ng-click="decrementOrder($index)")
										i.fa.fa-minus
								.col-9
									order(order='order')
									.row
										.col-9
											.total-produto Subtotal
										.col-3.text-left.nopadding
											.total-produto-preco R${{subTotal(order)}}
	.container.mt-4
		hr.hrCool
		.row
			.col
				h4.display.text-center Total: R${{total()}}
	.container
		.row.text-center
			.col
				button.keepBuying.red(ui-sref="Menu", type="button", style="float: none; margin: 0 auto;") Continue comprando
			.w-100
			.col
				p.my-1 ou
			.w-100
			.col
				button.keepBuying.gray(type="button", style="float: none; margin: 0 auto;") Confirme o Pedido