.div
    .font-italic
        small                            
            a(href="javascript:void(null);", ng-click="newSize()") Adicionar novo tamanho para {{name}}
    script(type="text/ng-template", id="newSize.html").
        <h1>Test</h1>