*{
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;

}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body{
	width: 100%;

}

img {
    max-width: 100%;
    max-height: 100%;
}

a{
	text-decoration: none;
	color: inherit !important;
}

a:hover{
	text-decoration: none !important;
	color: inherit !important;
}

section{
	overflow-x: hidden
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
 }


.marca{
	border: 1px solid red;
}

.item-menu:hover{
	cursor: pointer;
	background-color: #ccc;
}


.item-menu{
	border-bottom: 1px solid black;
	padding: 10px;
	width: 90%;
	margin: 0 auto;
}

.titulo{
	text-align: center;
	padding-bottom: 3px;
	border-bottom: 2px solid red;
	width: 80%;
	margin: 5px auto 10px auto;

}

.no-text-height{
	line-height: 0px;
}

.fixed-button{
	color: white;
	font-size: 20px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding: 5px;
	text-align: center !important;
	background: linear-gradient(to bottom, #e52d27 , #b31217);
}

.fixed-button:hover{
	cursor: pointer;
	background-color: #BD1114;
}

.space-bottom{
	margin-top: 40px;
	height: 20px;
}

.space-top{
	margin-bottom: 45px;

}


.combo-titulo{
	font-size: 15px;
}

.combo-descricao{
	font-size: 12px;
}

.combo-preco{
	font-size: 15px;
	color: green;
	font-weight: bold;
}

.prato-titulo{
	font-size: 15px;
	line-height: 15px;
	font-weight: bold;
	text-transform: uppercase;
}

.prato-descricao{
	font-size: 12px;
	line-height: 15px;
	color: #6F6F6F;
}


.prato-preco{
	font-size: 18px;
	color: green;
	font-weight: bold;
}

.text-right{
	text-align: right;
}

.over-item:hover{
	background-color: #BBB;
	cursor: pointer;
}

.botao-opcao{
	margin: 15px 0px !important;
	background-color: #e6e6e6;
	font-size: 20px;
	height: 50px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: auto;
	margin-bottom: auto;
}

.align-vertical{
	margin-bottom: auto;
	margin-top: auto;
	vertical-align: middle;
}

.num-sabores{
	background-color: #e6e6e6;
	margin: 4px;
	text-align: center;
	font-size: 30px;
	padding: 10px;
	font-weight: bold;
}

.descricao-sabor{
	font-size: 15px;
}

.btn-sabor{
	border: 1px solid #CCC;
	margin: 4px;
}

.sabor-nome{
	font-size: 20px;
	font-weight: bold;
}

.block-sabor{
	display: inline-block;
	background-color: #d6d6d6;
	border: 1px solid red;
	margin: 4px;
	padding: 2px 4px 2px 2px;
}

.botao-x{
	border: 1px solid black;
	padding: 0 4px;
	margin-right: 8px;
}

.fixed-button-top{
	top: 0px;
	position: fixed;
	width: 100%;
	text-align: center;
	background: linear-gradient(to bottom, #e52d27 , #b31217);
	color: white;
	padding: 10px;
	z-index: 999;
	
}

.fa-arrow-left{
	cursor: pointer;
}

.sabor-pizza{
	font-size: 15px;
	font-weight: bold;
}
.preco-pizza{
	font-size: 15px;
	font-weight: bold;
}

.descricao-pizza{
	font-size: 15px;
	padding: 0 5px 0 12px;
	
}


.title-resumo{
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
}
.desc-resumo{
	font-size: 13px;
	line-height: 14px;
	margin-bottom: 0px;
	color: #6D6D6D;
}

.title-preco{
	font-size: 15px;
	font-weight: bold;
	color: green;
}

.resumo-preco{
	font-size: 13px;
	line-height: 14px;

}

.card-pedido{
	border: 1px solid #E8E8E8;
	border-radius: 6px;
	margin: -6px 0px !important;
	padding: 5px 0px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.container-pedido.ng-hide {
	background-color: white;
	color: white !important;
	margin-left: -600px;
}

.container-pedido{
	transition: all linear 0.5s;
}

.card-prato{
	border-radius: 6px;
	margin: 8px 0px !important;
	padding: 5px 0px 0px 0px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	text-decoration: none;
	background-color: #Fafafa;
	cursor: pointer;
}
.total-produto{
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	border-top: 1px solid #ccc;
	margin-top: 3px;
}

.total-produto-preco{
	font-size: 15px;
	font-weight: bold;
	color: green;
	margin-top: 3px;
}

.btn-apagar-prato{
	display: inline-block;
	text-align: right;
	color: #b31217;
	font-size: 20px;
	position: relative;
	top: 15px;
	right: -3px;
	cursor: pointer;
	z-index: 999999;

}

.resumo-total{
	padding: 10px;
	margin : 13px 7px;
	font-size: 25px;
	background-color: #EBEBEB;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.prato-qtd{
	width: 80%;
	text-align: center;
	font-size: 20px;
	line-height: 20px;
	display: block;
	margin: 3px 0px 3px 10px;
	color: #333;
}

.btn-qtd{
	text-align: center;
	font-size: 16px;
	line-height: 20px;
	display: block;
	width: 80%;
	margin: 3px 0px 3px 10px;
	height: 30px;
	border-radius: 3px;
	border: none;
	color: #222;

}

.extra-container{
	
}

/* Radio Buttons  ----------------------------------------*/

.container-rb {
	height: 100%;
	min-height: 100%;
	margin: 0 auto;
  }
  
  .button-wrap {
	position: relative;
	text-align: center;
	top: 50%;
	margin-top: 10px;
  }

  .button-label {
	display: inline-block;
	padding: 3px;
	margin: 6px;
	width: 90%;
	text-transform: uppercase;
	cursor: pointer;
	color: #595959;
	border-radius: 5px;
	background: #F2F2F2;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
			box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
	-webkit-transition: 0.3s;
	transition: 0.3s;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
  }

  .button-label h1 {
	font-size: 15px;
	padding: 7px;
  }
  .button-label:hover {
	background: #939393;
	color: #101010;
	-webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32);
			box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32);
  }
  .button-label:active {
	-webkit-transform: translateY(2px);
			transform: translateY(2px);
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), inset 0px -1px 0 rgba(0, 0, 0, 0.22);
			box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), inset 0px -1px 0 rgba(0, 0, 0, 0.22);
  }

 .rb:checked  + .button-label{
	background: linear-gradient(to bottom, #e52d27 , #b31217);
	color: #E8E8E8;
	box-shadow: 5px 10px 10px rgba(0,0,0,0.3);
  }
 
 .hidden {
	display: none;
  }
  /* --------------------------------------- Radio Buttons*/



  /* Radio Buttons [menu dos extras]  ----------------------------------------*/

.extra-container {
	height: 100%;
	min-height: 100%;
	margin: 0 auto;
  }
  
  .button-label-extra {
	display: inline-block;
	position: relative;
	padding: 6px 13px 6px 40px;
	margin: 0px 0px;
	width: 100%;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	color: #383838;
	border-radius: 0px;
  }

.button-label-extra::before {
	content: '';
	display: inline-block;
	background: #b31217;
	position: absolute;
	left: 8px;
	top:9px;
	height: 20px;
	width: 20px;
	margin-right: 10px;
	border-radius: 80%;
	box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, .3);
	box-sizing: border-box;
	border: 10px solid #fff;
	transition: border .3s ease;
	transition: 0.3s;
  }
  
.button-label-extra:hover {
	background: #E3E3E3;
  }

 .rb:checked  + .button-label-extra{
	background: linear-gradient(to bottom, #e52d27 , #b31217);
	color: #E8E8E8;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
	transition: 0.2s;
  }

  .rb:checked  + .button-label-extra::before{
	border-color: #fff;
	border-width: 3px;
	
  }
 
 .hidden {
	display: none;
  }
  /* ---------------------------------------Radio Buttons [menu dos extras]*/


  /*checkboxes -------------------------------------------*/

.container-cb {
	height: 100%;
	min-height: 100%;
	margin: 0 auto;
  }

  input[type=checkbox] {
	position: absolute;
	left: -9999px;
  }
  
  .cb-label {
	display: block;
	position: relative;
	margin: 15px 0px;
	padding: 3px 7px 7px 3px;
	border-radius: 3px;
	color: #595959;
	background-color: #F2F2F2;
	cursor: pointer;
	user-select: none;
	transition: background-color .2s, box-shadow .2s;
	-webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
	-webkit-transition: 0.3s;
	transition: 0.3s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
		user-select: none;
  }


  
  .cb-label::before {
	content: "";
	display: block;
	position: absolute;
	text-align: center;
	top: 8px;
	left: 10px;
	width: 1.6em;
	height : 1.6em;
	border: 2px solid #B8B8B8;
	border-radius: 5px;
	transition: background-color .2s;
  }
  
  
  .cb:checked + label {
	background: linear-gradient(to top, #e52d27 , #E01E18);
	color: white;
	box-shadow: 5px 10px 10px rgba(0,0,0,0.3);
  }

  
  .cb:checked + label::before {
	background-color: #fff;
	font-family: FontAwesome;
	content: "\f00c";
	color: #E11A1A;
  }


  /* ------------------------------------------- checkboxes*/

  /* radio buttons do sabores (salgado / doce )--------------------*/


  .rb-sabores {
  border: solid 3px #675f6b;
  display: inline-block;
  margin: 20px;
  border-radius: 5px;
  overflow: hidden;
  }


.button-label-sabores {
	color: #9a929e;
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
	padding: 5px 20px;
  }

.rb-sabores:checked + label {
	color: #FFFFFF;
	background: #E11A1A;
  }

 
/* ----------------------radio buttons do sabores (salgado / doce )*/

/* INPUT TEXT ----------------------------------------*/

input[type=text]{
	width: 100%;
	border-radius: 5px;
	border: 2px solid #ccc;
	padding: 4px;
	margin-bottom: 5px;
}

/*---------------------------------------- INPUT TEXT */


/*.slide {
    transition: transform .7s ease-in-out;
    transform: translateX(0);
}

.slide.ng-enter {
    transform: translateX(100%);
}

.slide.ng-enter.ng-enter-active, .slide.ng-leave {
    position: absolute;
    transform: translateX(0);
}

.slide.ng-leave.ng-leave-active {
    transform: translateX(100%);
}*/

/* TRANSIÇÃO ENTRE VIEWS --------------------------------- */
.slide.ng-enter,
.slide.ng-leave {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: inherit;
  -ms-transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  transition:  .3s ease-in-out;
}

.slide.ng-enter {}
.slide.ng-enter.ng-enter-active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.slide.ng-leave {
  z-index: 100;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.slide.ng-leave.ng-leave-active {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}


.slide.ng-enter {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
} 

.slide.ng-enter.ng-enter-active, 
.slide.ng-leave {
  position: absolute;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.slide.ng-leave.ng-leave-active {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

/* -------------------------------------- TRANSIÇÃO ENTRE VIEWS  */

