<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="styles.css"> 
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
</head>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<!-- AngularJS - link cdn -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<!-- UI_Router - link cdn -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
<!-- angular animate - link cdn -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.17/angular-animate.min.js"></script>
<!-- bootstrap - link cdn -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<script src="app.js"></script>


<body>

<div ng-app="myApp" ng-controller="customersCtrl" class="container "> 



<h2 class="titulo"> Escolha a borda </h2>



<div ng-repeat= "x in bordas" class="row  over-item botao-opcao ">

	<div class="col-9  align-vertical" >
		{{x.borda}}
	</div>

	<div class="col-3 prato-preco align-vertical">
		{{x.valor}}
	</div>

</div> <!-- combos -->




<h2 class="titulo"> Escolha a Massa </h2>



<div ng-repeat= "x in massas" class="row  over-item botao-opcao">

	<div class="col-9 align-vertical">
		{{x.massa}}
	</div>

	<div class="col-3 prato-preco align-vertical">
		{{x.preco}}
	</div>

</div> <!-- escolha a massa -->

</div> <!-- ng-app -->


<div class="space-bottom"></div>

<a href="pizza_sabores.html">
<div class="fixed-button">
	<p>ESCOLHA OS SABORES</p>
</div>
</a>





<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
