.div
    .font-italic
        small                            
            a(href="javascript:void(null);", ng-click="newFlavor()") Adicionar novo sabor para {{name}}
    script(type="text/ng-template", id="newFlavor.html").
        <h3 class="display">Novo Sabor de {{name}}</h1>
        <form>
            <div class="form-group">
                <label>Nome</label>
                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="{{(name == 'Pizza') ? 'Portuguesa, 5 Queijos' : ''}}">
            </div>
            <div class="form-group">
                <label>Descrição</label>
                <textarea class="form-control" rows="3" placeholder="{{(name == 'Pizza') ? 'Mussarela, tomate, provolone...' : ''}}"></textarea>
            </div>
            <div ng-if="name == 'Pizza'">
                <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input" ng-click="special()">
                    <label class="form-check-label">Sabor Especial</label>
                </div>
                <div ng-if="active" class="form-group">
                    <label>Preço</label>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                        <div class="input-group-text">R$</div>
                        </div>
                        <input type="number" step="0.01" class="form-control">
                    </div>
                </div>
            </div>
            <div class="ngdialog-buttons">
                <button type="button" class="ngdialog-button ngdialog-button-primary">Enviar</button>
            </div>
        </form>