.div
    .font-italic
        small                            
            a(href="javascript:void(null);", ng-click="newFlavor()") Adicionar novo sabor para {{name}}
    script(type="text/ng-template", id="newFlavor.html").
        <h1>Test</h1>