section   
	go-back(message="pizzaOrder.name")
	.space-top
	.page-container
		.info-container(ng-if="menu.pizzas.extras.crust")
			h2.titulo Escolha a borda
			.container
			section.button-wrap
				article(ng-repeat="crust in menu.pizzas.extras.crust")
					input(type="radio", name="crust", id="c_{{crust.id}}", class="hidden radio-label rb")
					label(for="c_{{crust.id}}", class="button-label-extra", style="padding-top: 15px; padding-bottom: 15px;", ng-click="setCrust(crust)")
						.row
							.col-9.text-left
								h6 {{crust.name}}
							.col-3.text-left
								h1.prato-preco(ng-if="crust.price>0") {{crust.price}}
		.info-container(ng-if="issetCrust")
			h2.titulo Escolha a Massa
			.container
			section.button-wrap
				article(ng-repeat="dough in menu.pizzas.extras.dough")
					input(type="radio", name="dough", id="m_{{dough.id}}", class="hidden radio-label rb")
					label(for="m_{{dough.id}}", class="button-label-extra", style="padding-top: 15px; padding-bottom: 15px;", ng-click="setDough(dough)")
						.row
							.col-8.text-left
								h6 {{dough.name}}
							.col-4.text-left
								h1.prato-preco(ng-if="dough.price>0") {{dough.price}}
	.space-bottom
	a(ui-sref='PizzaFlavors', ng-if="issetCrust && issetDough")
		.fixed-button
			p ESCOLHA OS SABORES
