section   
	.fixed-button-top
		.row.align-vertical
			.col-2
				a(ng-click="doTheBack()")
					i.fa.fa-arrow-left
			.col-10.text-left
				|{{currentPizza}}
	.space-top
	.page-container
		.info-container
			h2.titulo  Escolha a borda
			.container
			section.button-wrap
				article(ng-repeat="borda in bordas")
					input(type="radio" name="borda" id="b_{{borda.id}}" class="hidden radio-label rb")
					label(for="b_{{borda.id}}" class="button-label-extra" style="padding-top: 15px; padding-bottom: 15px;" ng-click = "setBorda(borda)")
						.row
							.col-9.text-left
								h6 {{borda.nome}}
							.col-3.text-left
								h1.prato-preco(ng-if="borda.preco>0")  {{borda.preco}}
		.info-container(ng-show = "issetBorda")
			h2.titulo  Escolha a Massa
			.container
			section.button-wrap
				article(ng-repeat="massa in massas")
					input(type="radio" name="massa" id="m_{{massa.id}}" class="hidden radio-label rb")
					label(for="m_{{massa.id}}" class="button-label-extra" style="padding-top: 15px; padding-bottom: 15px;" ng-click = "setMassa(massa)")
						.row
							.col-8.text-left
								h6 {{massa.nome}}
							.col-4.text-left
								h1.prato-preco(ng-if="massa.preco>0") {{massa.preco}}
	// escolha a massa
	.space-bottom
	a(ui-sref='pizza-sabores' ng-show="issetBorda && issetMassa")
		.fixed-button
			p ESCOLHA OS SABORES
