section
	go-back(message='generalOrder.name')
	.space-top
	.extra-container(ng-repeat="availableExtra in generalOrder.availableExtras")
		//- TODO: Tornar diretiva 
		section(ng-repeat="extra in menu.extras", ng-if="extra.id == availableExtra")
			article(ng-if="extra.type == 1")
				h4.titulo {{extra.name}}
				div(ng-repeat="details in extra.options")
					input(type="radio" id="options-{{details.id}}" name="extra" class="hidden radio-label rb")
					label(for="options-{{details.id}}" class="button-label-extra")
						.row
							.col-10
								.sabor-pizza {{details.name}}
							.col-2
								.preco-pizza(ng-if="details.price>0") {{details.price}}
						.row
							.descricao-pizza {{details.description}}
			article(ng-if="extra.type == 2")
				h5.titulo {{extra.name}}
				p.text-center mín {{extra.qty_min}}, máx {{extra.qty_max}}
				article(ng-repeat="details in extra.options")
					.row
						.col-3
							button.btn-qtd(ng-click="")
								i.fa.fa-plus
							.prato-qtd {{details.qty}}
							button.btn-qtd(ng-click="")
								i.fa.fa-minus
						.col-9
							.row
								.col-9
									.sabor-pizza {{details.name}}
								.col-3
									.preco-pizza(ng-if="details.price>0") {{details.price}}
							.row
								.descricao-pizza {{details.description}}
					hr
	.space-bottom
		.fixed-button(ng-click="nextExtra()")
			p PRÓXIMO
